<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SuiviVente{% endblock %}</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />

        <link rel="stylesheet" type="text/css" href="{{asset ('bundles/AccueilTemplate/css/style1.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-32x32.png') }}" />
        
    </head>
    
        {% block body %} {% endblock %}
        {% block javascripts %}{% endblock %}
   
</html>



